# 컴피티션 링크
- https://www.kaggle.com/t/2e45abe9f1434b59a3358365432a48bb

# 고객별 백화점 구매기록 데이터셋
- 미혼(1) or 기혼(0) 고객을 예측
- 학습용 구매기록 데이터
    - https://drive.google.com/file/d/1tg41qXu02FK55bFa8P1Gx2URhwPUCoQQ/view?usp=sharing
- 학습용 정답 데이터
    - https://drive.google.com/file/d/1-9AcU9nAoO4SzSmqdCOYTvWNpA5Pdt3q/view?usp=sharing
- 테스트용 구매기록 데이터
    - https://drive.google.com/file/d/1-AwDfGlHm9rNtpnHIWOK96jBJYy3f2SZ/view?usp=sharing
- 제출 양식 데이터
    - https://drive.google.com/file/d/1-Qv7SlsY5Eu3bRR7Z0IUJyLkOO1Fl3y6/view?usp=sharing

- 데이터 경로 변수

In [2]:
DATA_PATH = "/Users/junwoong/Desktop/멋쟁이 사자처럼/Final_Project/data/"
DATA_PATH

'/Users/junwoong/Desktop/멋쟁이 사자처럼/Final_Project/data/'

- 데이터 불러오기

In [3]:
import pandas as pd
import numpy as np

train_tr = pd.read_csv(f"{DATA_PATH}store_train_transactions.csv") # 학습용 구매기록 데이터
train_target = pd.read_csv(f"{DATA_PATH}store_train.csv") # 학습용 정답 데이터
test_tr = pd.read_csv(f"{DATA_PATH}store_test_transactions.csv") # 테스트용 구매기록 데이터
submit = pd.read_csv(f"{DATA_PATH}store_submission.csv") # 제출 양식 데이터

train_tr.shape , train_target.shape , test_tr.shape , submit.shape

((523105, 7), (14940, 2), (441196, 7), (12225, 2))

In [5]:
from IPython.display import display, HTML
br_html = HTML("<br><br>")
display(HTML("<h1>학습용 구매기록 데이터</h1>"), train_tr.head(), br_html)
display(HTML("<h1>학습용 정답 데이터</h1>"), train_target.head(), br_html)
display(HTML("<h1>테스트용 구매기록 데이터</h1>"), test_tr.head(), br_html)
display(HTML("<h1>제출 양식 데이터</h1>"), submit.head(), br_html)

            ID                 구매일시     지점코드     대분류      중분류  브랜드코드    구매가격
0  train_13219  2004-05-01 09:40:00  A144000   공산품파트       차류   5100   59700
1   train_5590  2004-05-01 09:40:00  A144000    잡화파트     화장잡화   5101   17000
2   train_7200  2004-05-01 10:20:00  A112000     공산품     용기보증   5100   34937
3   train_3010  2004-05-01 10:30:00  A373000  아동_스포츠      아동복   5105   19000
4  train_10851  2004-05-01 10:30:00  A112000    가정용품  전화기_카세트   5110  215000

        ID  target
0  train_0     1.0
1  train_1     1.0
2  train_2     0.0
3  train_3     0.0
4  train_4     0.0

          ID                 구매일시     지점코드   대분류      중분류  브랜드코드    구매가격
0  test_3366  2004-05-01 10:20:00  A373000   생식품      건식품   5100    7000
1  test_9389  2004-05-01 10:23:00  A373000  명품잡화      스타킹   5104   46000
2  test_8190  2004-05-01 10:30:00  A144000  잡화파트  수입종합화장품   5106  260000
3  test_8835  2004-05-01 10:30:00  A144000  잡화파트      준보석   5107   17000
4  test_1167  2004-05-01 10:30:00  A373000  남성의류       셔츠   5108  138000

       ID  target
0  test_0     0.5
1  test_1     0.5
2  test_2     0.5
3  test_3     0.5
4  test_4     0.5

In [136]:
display(HTML("<h1>학습용 구매기록 데이터</h1>"))
display(train_tr.info(), br_html)

display(HTML("<h1>학습용 정답 데이터</h1>"))
display(train_target.info(), br_html)

display(HTML("<h1>테스트용 구매기록 데이터</h1>"))
display(test_tr.info(), br_html)

display(HTML("<h1>제출 양식 데이터</h1>"))
display(submit.info(), br_html)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 523105 entries, 0 to 523104
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      523105 non-null  object
 1   구매일시    523105 non-null  object
 2   지점코드    523105 non-null  object
 3   대분류     523105 non-null  object
 4   중분류     523105 non-null  object
 5   브랜드코드   523105 non-null  int64
 6   구매가격    523105 non-null  int64
dtypes: int64(2), object(5)
memory usage: 27.9+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14940 entries, 0 to 14939
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      14940 non-null  object
 1   target  14940 non-null  float64
dtypes: float64(1), object(1)
memory usage: 233.6+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 441196 entries, 0 to 441195
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      441196 non-null  object
 1   구매일시    441196 non-null  object
 2   지점코드    441196 non-null  object
 3   대분류     441196 non-null  object
 4   중분류     441196 non-null  object
 5   브랜드코드   441196 non-null  int64
 6   구매가격    441196 non-null  int64
dtypes: int64(2), object(5)
memory usage: 23.6+ MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12225 entries, 0 to 12224
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      12225 non-null  object
 1   target  12225 non-null  float64
dtypes: float64(1), object(1)
memory usage: 191.1+ KB

None

In [13]:
train_tr.describe()

               브랜드코드          구매가격
count  523105.000000  5.231050e+05
mean     5391.568913  9.873469e+04
std       380.975185  3.134026e+05
min      5100.000000 -3.082000e+07
25%      5111.000000  2.252000e+04
50%      5237.000000  5.200000e+04
75%      5522.000000  1.197000e+05
max      6996.000000  3.082000e+07

# 특성 공학(Feature Engineering)

## 날짜 형식으로 변환

In [14]:
train_tr["구매일시"] = pd.to_datetime(train_tr["구매일시"])
test_tr["구매일시"] = pd.to_datetime(test_tr["구매일시"])

## 새로 만든 feature와 병합할 고객ID로만 이루어진 데이터프레임 생성

In [15]:
train_ft = train_target[["ID"]]
test_ft = submit[["ID"]]

train_ft.shape, test_ft.shape

((14940, 1), (12225, 1))

## 구매일시를 이용한 특성생성

In [16]:
agg_list = [
    ("내점일수", "nunique"),
    ("주말방문비율", lambda x: np.mean(x.dt.weekday>4)),
    ("구매주기", lambda x: int((x.max() - x.min()).days / x.dt.date.nunique())),
    ("거래개월수", lambda x: x.dt.date.astype(str).str[:-3].nunique()),
    # 일별 월별 연도별 평균 구매건수
    ("일별평균구매건수", lambda x: x.count() / x.dt.date.nunique()),
    ("월별평균구매건수", lambda x: x.count() / x.dt.month.nunique()),  
    ("연도별평균구매건수", lambda x: x.count() / x.dt.year.nunique()),
    ("주구매요일", lambda x: x.dt.weekday.mode()[0]),
    # 요일별
    ("월요일_구매비율", lambda x: np.mean(x.dt.weekday == 0)),
    ("화요일_구매비율", lambda x: np.mean(x.dt.weekday == 1)),
    ("수요일_구매비율", lambda x: np.mean(x.dt.weekday == 2)),
    ("목요일_구매비율", lambda x: np.mean(x.dt.weekday == 3)),
    ("금요일_구매비율", lambda x: np.mean(x.dt.weekday == 4)),
    ("토요일_구매비율", lambda x: np.mean(x.dt.weekday == 5)),
    ("일요일_구매비율", lambda x: np.mean(x.dt.weekday == 6)),
    #월별
    ("1월_구매비율", lambda x: np.mean(x.dt.month == 1)),
    ("2월_구매비율", lambda x: np.mean(x.dt.month == 2)),
    ("3월_구매비율", lambda x: np.mean(x.dt.month == 3)),
    ("4월_구매비율", lambda x: np.mean(x.dt.month == 4)),
    ("5월_구매비율", lambda x: np.mean(x.dt.month == 5)),
    ("6월_구매비율", lambda x: np.mean(x.dt.month == 6)),
    ("7월_구매비율", lambda x: np.mean(x.dt.month == 7)),
    ("8월_구매비율", lambda x: np.mean(x.dt.month == 8)),
    ("9월_구매비율", lambda x: np.mean(x.dt.month == 9)),
    ("10월_구매비율", lambda x: np.mean(x.dt.month == 10)),
    ("11월_구매비율", lambda x: np.mean(x.dt.month == 11)),
    ("12월_구매비율", lambda x: np.mean(x.dt.month == 12)),
    #계절별
    ("봄_구매비율")
]

tmp = train_tr.groupby("ID")["구매일시"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how="left", on="ID")
train_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,3월_구매비율,4월_구매비율,5월_구매비율,6월_구매비율,7월_구매비율,8월_구매비율,9월_구매비율,10월_구매비율,11월_구매비율,12월_구매비율
0,train_0,16,0.250000,23,7,1.818182,2.857143,10.0,3,0.050000,...,0.000000,0.000000,0.050000,0.150000,0.100000,0.000000,0.200000,0.000000,0.200000,0.250000
1,train_1,41,0.023810,16,11,2.000000,3.818182,21.0,3,0.047619,...,0.142857,0.047619,0.166667,0.023810,0.023810,0.119048,0.238095,0.047619,0.071429,0.071429
2,train_2,102,0.210526,6,12,2.035714,9.500000,57.0,0,0.254386,...,0.114035,0.184211,0.166667,0.052632,0.061404,0.026316,0.078947,0.043860,0.052632,0.026316
3,train_3,191,0.189573,3,12,2.293478,17.583333,105.5,3,0.104265,...,0.137441,0.161137,0.080569,0.075829,0.090047,0.014218,0.075829,0.066351,0.094787,0.071090
4,train_4,55,0.258065,11,10,2.296296,6.200000,31.0,4,0.096774,...,0.032258,0.000000,0.080645,0.161290,0.322581,0.129032,0.145161,0.048387,0.016129,0.000000

In [18]:
tmp = test_tr.groupby("ID")["구매일시"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how="left", on="ID")
test_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,3월_구매비율,4월_구매비율,5월_구매비율,6월_구매비율,7월_구매비율,8월_구매비율,9월_구매비율,10월_구매비율,11월_구매비율,12월_구매비율
0,test_0,7,0.571429,32,4,1.400000,1.750000,7.0,1,0.142857,...,0.0,0.0000,0.285714,0.142857,0.142857,0.0000,0.00000,0.428571,0.0,0.00000
1,test_1,4,0.250000,54,3,1.333333,1.333333,2.0,0,0.500000,...,0.0,0.0000,0.000000,0.000000,0.000000,0.0000,0.25000,0.500000,0.0,0.00000
2,test_2,4,0.000000,8,2,2.500000,2.500000,5.0,0,0.600000,...,0.0,0.0000,0.000000,0.000000,0.000000,0.6000,0.40000,0.000000,0.0,0.00000
3,test_3,28,0.031250,16,7,2.000000,4.571429,16.0,3,0.062500,...,0.0,0.0625,0.000000,0.000000,0.281250,0.1875,0.09375,0.250000,0.0,0.09375
4,test_4,19,0.476190,29,4,2.333333,5.250000,10.5,6,0.047619,...,0.0,0.0000,0.380952,0.000000,0.285714,0.0000,0.00000,0.238095,0.0,0.00000

In [21]:
# 주말 비율 추가
agg_list = [
    ("평일_구매비율", lambda x: np.mean(x.dt.weekday <= 4)),
    ("주말_구매비율", lambda x: np.mean(x.dt.weekday >= 5)),
]

tmp = train_tr.groupby("ID")["구매일시"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how="left", on="ID")
train_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,5월_구매비율,6월_구매비율,7월_구매비율,8월_구매비율,9월_구매비율,10월_구매비율,11월_구매비율,12월_구매비율,평일_구매비율,주말_구매비율
0,train_0,16,0.250000,23,7,1.818182,2.857143,10.0,3,0.050000,...,0.050000,0.150000,0.100000,0.000000,0.200000,0.000000,0.200000,0.250000,0.750000,0.250000
1,train_1,41,0.023810,16,11,2.000000,3.818182,21.0,3,0.047619,...,0.166667,0.023810,0.023810,0.119048,0.238095,0.047619,0.071429,0.071429,0.976190,0.023810
2,train_2,102,0.210526,6,12,2.035714,9.500000,57.0,0,0.254386,...,0.166667,0.052632,0.061404,0.026316,0.078947,0.043860,0.052632,0.026316,0.789474,0.210526
3,train_3,191,0.189573,3,12,2.293478,17.583333,105.5,3,0.104265,...,0.080569,0.075829,0.090047,0.014218,0.075829,0.066351,0.094787,0.071090,0.810427,0.189573
4,train_4,55,0.258065,11,10,2.296296,6.200000,31.0,4,0.096774,...,0.080645,0.161290,0.322581,0.129032,0.145161,0.048387,0.016129,0.000000,0.741935,0.258065

In [22]:
tmp = test_tr.groupby("ID")["구매일시"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how="left", on="ID")
test_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,5월_구매비율,6월_구매비율,7월_구매비율,8월_구매비율,9월_구매비율,10월_구매비율,11월_구매비율,12월_구매비율,평일_구매비율,주말_구매비율
0,test_0,7,0.571429,32,4,1.400000,1.750000,7.0,1,0.142857,...,0.285714,0.142857,0.142857,0.0000,0.00000,0.428571,0.0,0.00000,0.428571,0.571429
1,test_1,4,0.250000,54,3,1.333333,1.333333,2.0,0,0.500000,...,0.000000,0.000000,0.000000,0.0000,0.25000,0.500000,0.0,0.00000,0.750000,0.250000
2,test_2,4,0.000000,8,2,2.500000,2.500000,5.0,0,0.600000,...,0.000000,0.000000,0.000000,0.6000,0.40000,0.000000,0.0,0.00000,1.000000,0.000000
3,test_3,28,0.031250,16,7,2.000000,4.571429,16.0,3,0.062500,...,0.000000,0.000000,0.281250,0.1875,0.09375,0.250000,0.0,0.09375,0.968750,0.031250
4,test_4,19,0.476190,29,4,2.333333,5.250000,10.5,6,0.047619,...,0.380952,0.000000,0.285714,0.0000,0.00000,0.238095,0.0,0.00000,0.523810,0.476190

In [56]:
agg_list = [
    ("봄_구매비율", lambda x: np.mean((x.dt.month >= 3) & (x.dt.month <= 5))),
    ("여름_구매비율", lambda x: np.mean((x.dt.month >= 6) & (x.dt.month <= 8))),
    ("가을_구매비율", lambda x: np.mean((x.dt.month >= 9) & (x.dt.month <= 11))),
    ("겨울_구매비율", lambda x: np.mean((x.dt.month == 12) | (x.dt.month <= 2))),
]

tmp = train_tr.groupby("ID")["구매일시"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how="left", on="ID")
train_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,주구매_대분류,대분류_가정용품비율,대분류_아동비율,대분류_영어덜트비율,대분류_명품비율,대분류_생식품비율,봄_구매비율,여름_구매비율,가을_구매비율,겨울_구매비율
0,train_0,16,0.250000,23,7,1.818182,2.857143,10.0,3,0.050000,...,남성정장스포츠,0.200000,0.100000,0.000000,0.000000,0.050000,0.050000,0.250000,0.400000,0.300000
1,train_1,41,0.023810,16,11,2.000000,3.818182,21.0,3,0.047619,...,영플라자,0.000000,0.023810,0.357143,0.047619,0.023810,0.357143,0.166667,0.357143,0.119048
2,train_2,102,0.210526,6,12,2.035714,9.500000,57.0,0,0.254386,...,명품잡화,0.026316,0.157895,0.000000,0.298246,0.026316,0.464912,0.140351,0.175439,0.219298
3,train_3,191,0.189573,3,12,2.293478,17.583333,105.5,3,0.104265,...,케주얼_구두_아동,0.033175,0.270142,0.042654,0.018957,0.018957,0.379147,0.180095,0.236967,0.203791
4,train_4,55,0.258065,11,10,2.296296,6.200000,31.0,4,0.096774,...,명품잡화,0.000000,0.129032,0.000000,0.403226,0.112903,0.112903,0.612903,0.209677,0.064516

In [57]:
tmp = test_tr.groupby("ID")["구매일시"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how="left", on="ID")
test_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,주구매_대분류,대분류_가정용품비율,대분류_아동비율,대분류_영어덜트비율,대분류_명품비율,대분류_생식품비율,봄_구매비율,여름_구매비율,가을_구매비율,겨울_구매비율
0,test_0,7,0.571429,32,4,1.400000,1.750000,7.0,1,0.142857,...,공산품,0.00000,0.285714,0.000000,0.0,0.142857,0.285714,0.285714,0.428571,0.000000
1,test_1,4,0.250000,54,3,1.333333,1.333333,2.0,0,0.500000,...,명품잡화,0.00000,0.000000,0.000000,0.5,0.000000,0.000000,0.000000,0.750000,0.250000
2,test_2,4,0.000000,8,2,2.500000,2.500000,5.0,0,0.600000,...,잡화파트,0.00000,0.400000,0.000000,0.0,0.000000,0.000000,0.600000,0.400000,0.000000
3,test_3,28,0.031250,16,7,2.000000,4.571429,16.0,3,0.062500,...,영플라자,0.03125,0.000000,0.531250,0.0,0.000000,0.062500,0.468750,0.343750,0.125000
4,test_4,19,0.476190,29,4,2.333333,5.250000,10.5,6,0.047619,...,여성캐주얼,0.00000,0.238095,0.047619,0.0,0.000000,0.380952,0.285714,0.238095,0.095238

In [58]:
train_ft.to_csv(f"{DATA_PATH}train_common.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_common.csv",index=False)

## 지점을 이용한 특성생성

In [28]:
agg_list = [
    ("방문지점수", "nunique"),
    ("주구매지점", lambda x: x.mode()[0]),
]

tmp = train_tr.groupby("ID")["지점코드"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how="left", on="ID")
train_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,7월_구매비율,8월_구매비율,9월_구매비율,10월_구매비율,11월_구매비율,12월_구매비율,평일_구매비율,주말_구매비율,방문지점수,주구매지점
0,train_0,16,0.250000,23,7,1.818182,2.857143,10.0,3,0.050000,...,0.100000,0.000000,0.200000,0.000000,0.200000,0.250000,0.750000,0.250000,2,A144000
1,train_1,41,0.023810,16,11,2.000000,3.818182,21.0,3,0.047619,...,0.023810,0.119048,0.238095,0.047619,0.071429,0.071429,0.976190,0.023810,3,A112000
2,train_2,102,0.210526,6,12,2.035714,9.500000,57.0,0,0.254386,...,0.061404,0.026316,0.078947,0.043860,0.052632,0.026316,0.789474,0.210526,2,A373000
3,train_3,191,0.189573,3,12,2.293478,17.583333,105.5,3,0.104265,...,0.090047,0.014218,0.075829,0.066351,0.094787,0.071090,0.810427,0.189573,3,A144000
4,train_4,55,0.258065,11,10,2.296296,6.200000,31.0,4,0.096774,...,0.322581,0.129032,0.145161,0.048387,0.016129,0.000000,0.741935,0.258065,2,A144000

In [29]:
tmp = test_tr.groupby('ID')["지점코드"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how='left',on="ID")
test_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,7월_구매비율,8월_구매비율,9월_구매비율,10월_구매비율,11월_구매비율,12월_구매비율,평일_구매비율,주말_구매비율,방문지점수,주구매지점
0,test_0,7,0.571429,32,4,1.400000,1.750000,7.0,1,0.142857,...,0.142857,0.0000,0.00000,0.428571,0.0,0.00000,0.428571,0.571429,1,A202000
1,test_1,4,0.250000,54,3,1.333333,1.333333,2.0,0,0.500000,...,0.000000,0.0000,0.25000,0.500000,0.0,0.00000,0.750000,0.250000,2,A373000
2,test_2,4,0.000000,8,2,2.500000,2.500000,5.0,0,0.600000,...,0.000000,0.6000,0.40000,0.000000,0.0,0.00000,1.000000,0.000000,1,A144000
3,test_3,28,0.031250,16,7,2.000000,4.571429,16.0,3,0.062500,...,0.281250,0.1875,0.09375,0.250000,0.0,0.09375,0.968750,0.031250,1,A112000
4,test_4,19,0.476190,29,4,2.333333,5.250000,10.5,6,0.047619,...,0.285714,0.0000,0.00000,0.238095,0.0,0.00000,0.523810,0.476190,3,A112000

In [30]:
train_ft.to_csv(f"{DATA_PATH}train_common.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_common.csv",index=False)

## 브랜드코드를 이용한 특성생성

In [31]:
agg_list = [
    ("브랜드코드_nunique", "nunique"),
    # 이용브랜드코드 및 비율 추가
    ("이용브랜드코드", lambda x: x.mode()[0]),
    ("이용브랜드코드_비율", lambda x: x[x == x.mode()[0]].count() / x.count())
]

tmp = train_tr.groupby("ID")["브랜드코드"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how="left", on="ID")
train_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,10월_구매비율,11월_구매비율,12월_구매비율,평일_구매비율,주말_구매비율,방문지점수,주구매지점,브랜드코드_nunique,이용브랜드코드,이용브랜드코드_비율
0,train_0,16,0.250000,23,7,1.818182,2.857143,10.0,3,0.050000,...,0.000000,0.200000,0.250000,0.750000,0.250000,2,A144000,13,5452,0.250000
1,train_1,41,0.023810,16,11,2.000000,3.818182,21.0,3,0.047619,...,0.047619,0.071429,0.071429,0.976190,0.023810,3,A112000,26,5100,0.142857
2,train_2,102,0.210526,6,12,2.035714,9.500000,57.0,0,0.254386,...,0.043860,0.052632,0.026316,0.789474,0.210526,2,A373000,58,5159,0.122807
3,train_3,191,0.189573,3,12,2.293478,17.583333,105.5,3,0.104265,...,0.066351,0.094787,0.071090,0.810427,0.189573,3,A144000,99,5138,0.047393
4,train_4,55,0.258065,11,10,2.296296,6.200000,31.0,4,0.096774,...,0.048387,0.016129,0.000000,0.741935,0.258065,2,A144000,23,5100,0.274194

In [32]:
tmp = test_tr.groupby('ID')["브랜드코드"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how='left',on="ID")
test_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,10월_구매비율,11월_구매비율,12월_구매비율,평일_구매비율,주말_구매비율,방문지점수,주구매지점,브랜드코드_nunique,이용브랜드코드,이용브랜드코드_비율
0,test_0,7,0.571429,32,4,1.400000,1.750000,7.0,1,0.142857,...,0.428571,0.0,0.00000,0.428571,0.571429,1,A202000,5,5100,0.428571
1,test_1,4,0.250000,54,3,1.333333,1.333333,2.0,0,0.500000,...,0.500000,0.0,0.00000,0.750000,0.250000,2,A373000,4,5149,0.250000
2,test_2,4,0.000000,8,2,2.500000,2.500000,5.0,0,0.600000,...,0.000000,0.0,0.00000,1.000000,0.000000,1,A144000,5,5111,0.200000
3,test_3,28,0.031250,16,7,2.000000,4.571429,16.0,3,0.062500,...,0.250000,0.0,0.09375,0.968750,0.031250,1,A112000,19,5111,0.156250
4,test_4,19,0.476190,29,4,2.333333,5.250000,10.5,6,0.047619,...,0.238095,0.0,0.00000,0.523810,0.476190,3,A112000,13,5204,0.190476

## 중분류를 이용한 특성생성

In [39]:
train_tr["중분류"].unique()

array(['차류', '화장잡화', '용기보증', '아동복', '전화기_카세트', '일용잡화', '수입종합화장품', '아동',
       '테이프', '수영복', '상품군미지정', '야채', '진케주얼', '단품', 'TV_VCR', '세탁기_냉장고',
       '트래디셔널', '완구(문화)', '캐릭터캐쥬얼', '주방용품', '문구_팬시', '수입부띠끄', '면류', '정육',
       '골프웨어', '유아용품', '패션시계', '골프(국내)', '진캐쥬얼', '색조화장품', '아웃도어', '양말',
       '영트랜드', '핸드백', '골프(LC)', '곡물', '행사_단품', '과자류', '니트웨어', '란제리', '완구',
       '스타킹', '향수', '수입향수', '레이디숍A', '명품', '문화', '단품_행사(트래디셔널)', '신생아',
       '팬시코너(문화)', '우산장갑', '셔츠', '영캐쥬얼', '행사', '칼라드래디셔널', '생선', '아동잡화',
       '스카프', '하이캐쥬얼', '타운웨어', '영캐주얼', '남성잡화', '캐릭터', '소형취사가전', '유아복',
       '헤어ACC', '로얄부틱2F', '타운단품', '캐리어캐쥬얼', '진캐주얼', '침구', '청과', '일반조리',
       '부띠끄', '모자', '디자이너', '캐릭터캐주얼', '캐릭터슈즈', '디자이너부띠끄', '슈즈', '냉장식품',
       '패션란제리', '수입액세서리', '손수건', '잡화', '스포츠웨어', '캐쥬얼구두', '즉석조리', '여성구두',
       '내의', '골프(수입)', '넥타이', '수입ACC', '잡화(문화)', '욕실용품', 'NB제화', 'L_B침구',
       '국산화장품', '디자이너숍', '썬그라스', '수입의류', '트레디셔널캐주얼', '준보석', '싸롱화',
       '트래디셔널캐쥬얼', '화장품', '수입캐주얼', '수입', '미씨캐릭터', '라이센스', '구두임대', '타운',
       '국내화장품', '잡화토탈', '엘레강스부틱', '건강식품', '임대구두', '미시케쥬얼', '레포츠단품', '니트',
       '취사소형', '인텔리젼스캐주얼', '피혁B행사', '수입구두', '팬시', '행사핸드백', '스포츠캐주얼',
       '크리스탈', '베이직캐주얼', '디자이너니트', '토탈', '스포츠슈즈', '건식품', '어덜트', '우산_장갑',
       '레코드(문화)', '국내종합화장품', '기타식품', '유아', '피혁토탈(B2)', '단품_행사1', '과자',
       '가전특정', '영커리어캐주얼', '초도자기', '일반악세사리', '단품_행사2', '페레  지원', '카페트',
       '음료', '국내부띠끄', '보석', '수예_인테리어소품', '선글래스', '스포츠용품', '행사소품', '조미료',
       '트렌드캐주얼', '남성구두', '가방', '마춤', '스포츠단품', '아동단품', '드레스구두', '상품개발지원',
       '브랜드침구', '임대핸드백', '문구', '패션악세사리', '헤어악세사리', '가정잡화', '냉장고.세탁기',
       '내셔날', '헤어액세사리', '패스트푸드', '트.단품', '전문가구(가구)', '엘레강스', '임대화장품',
       '인텔리젼스', '수입슈즈', '유니섹스캐주얼', '수입피혁', '홈데코', '주류', '시계', '디자이너캐주얼',
       '골프용품', '단품_행사', '장신구', '핸드백행사', '패션ACC', '내셔널', '원목(주니어)',
       '일반ACC', '임대골프', '카세트_전화기', '피혁A행사', '골프(단품)', '수입악세사리', '의류기타',
       '비디오', 'TV_VTR', '원목_주니어', '골프단품', '임대슈즈', '식탁_소품', '소형전기',
       '인스턴트식품', '냉장고_세탁기', '건어물', '아동특선', '식기', 'N_B침구', '골프(NB)',
       '뉴베이직캐주얼', '수입명품', '스포츠용퓸', '소형가구(가구)', '문구(문화)', '수입도자기', '컴퓨터',
       '전화기', '수입의류행사', '냉난방', '모피니트', '디자이너캐릭터', '모피', '일반식품명품', '패션잡화',
       '토탈부틱', '수입행사', '행사슈즈', '수예', '수예행사', '구두행사', '레포츠', '인스탄트식품',
       '침대', '종합_수입', '스키', '머플러', '냉동식품', '수예침장', '취미소품', '로얄수입행사',
       '선글라스', '통병조림', '특정', '라디오.카세트', '소파', '카메라', '엘레강스캐주얼', 'DC캐주얼',
       '해외SHOP', '용품', '오디오', '훼미닌부틱', '피혁소품행사', '핸드백임대', '건강용품',
       'GBR  지원', '사무용품', '캐쥬얼단품', '가스렌지', '유아발육기', '카페트_대자리', '교복행사',
       '그라스', 'TV.VTR', 'NB핸드백', '골프(용품)', '장식액자', '장신구행사업체', '마담SIZE',
       '영트랜디', '피혁소품', '조명', '직수입침구', '수입_종합가구', '가스기기', '단품(트래디셔널)',
       '정장행사', '영창(문화)', '모피_피혁', '쇼파', '식탁', '부띠끄행사', '지갑_벨트', 'TOP디자이너',
       '단품행사', '캐주얼단품', '모피.피혁', '행사구두(5F)', '로얄', '구두수선', '영잡화', '특선행사',
       '피혁', '단품_행사(캐릭터)', '정장', '통판', '특판'], dtype=object)

In [47]:
agg_list = [
    ("중분류_nunique", "nunique"),
    ("주구매_중분류", lambda x: x.mode()[0]),
    ("중분류_악세서리비율", lambda x: (x.str.contains("악세사리|액세서리|보석|핸드백|장신구|시계|ACC", regex=True)).mean()),
    ("중분류_명품비율", lambda x: (x.str.contains("명품|부띠끄|로얄|부틱|엘레강스", regex=True)).mean()),
    ("중분류_화장품비율", lambda x: (x.str.contains("화장품|향수", regex=True)).mean()),
    ("중분류_가전제품비율", lambda x: (x.str.contains("냉장고|취사|TV", regex=True)).mean()),
    ("중분류_아동비율", lambda x: (x.str.contains("신생아|아동|유아", regex=True)).mean()),
    ("중분류_스포츠비율", lambda x: (x.str.contains("스포츠|골프|레포츠", regex=True)).mean()),
    ("중분류_가구비율", lambda x: (x.str.contains("가구|식탁|쇼파|소파|침대|침구|홈", regex=True)).mean()),
    ("중분류_영패션비율", lambda x: (x.str.contains("영|캐쥬얼", regex=True)).mean()),
]

tmp = train_tr.groupby("ID")["중분류"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how='left')
train_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,중분류_nunique,주구매_중분류,중분류_악세서리비율,중분류_명품비율,중분류_화장품비율,중분류_가전제품비율,중분류_아동비율,중분류_스포츠비율,중분류_가구비율,중분류_영패션비율
0,train_0,16,0.250000,23,7,1.818182,2.857143,10.0,3,0.050000,...,11,골프웨어,0.000000,0.000000,0.050000,0.000000,0.050000,0.450000,0.000000,0.000000
1,train_1,41,0.023810,16,11,2.000000,3.818182,21.0,3,0.047619,...,24,영캐주얼,0.000000,0.047619,0.095238,0.000000,0.000000,0.071429,0.000000,0.190476
2,train_2,102,0.210526,6,12,2.035714,9.500000,57.0,0,0.254386,...,35,아웃도어,0.026316,0.157895,0.087719,0.000000,0.000000,0.122807,0.008772,0.087719
3,train_3,191,0.189573,3,12,2.293478,17.583333,105.5,3,0.104265,...,60,수입종합화장품,0.056872,0.000000,0.203791,0.009479,0.009479,0.066351,0.000000,0.213270
4,train_4,55,0.258065,11,10,2.296296,6.200000,31.0,4,0.096774,...,24,로얄부틱2F,0.000000,0.354839,0.080645,0.000000,0.048387,0.000000,0.000000,0.048387

In [48]:
tmp = test_tr.groupby('ID')["중분류"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how='left')
test_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,중분류_nunique,주구매_중분류,중분류_악세서리비율,중분류_명품비율,중분류_화장품비율,중분류_가전제품비율,중분류_아동비율,중분류_스포츠비율,중분류_가구비율,중분류_영패션비율
0,test_0,7,0.571429,32,4,1.400000,1.750000,7.0,1,0.142857,...,4,용기보증,0.00000,0.142857,0.142857,0.0,0.285714,0.00000,0.0,0.000000
1,test_1,4,0.250000,54,3,1.333333,1.333333,2.0,0,0.500000,...,4,남성구두,0.00000,0.000000,0.250000,0.0,0.000000,0.00000,0.0,0.000000
2,test_2,4,0.000000,8,2,2.500000,2.500000,5.0,0,0.600000,...,4,수입종합화장품,0.00000,0.000000,0.400000,0.0,0.000000,0.00000,0.0,0.200000
3,test_3,28,0.031250,16,7,2.000000,4.571429,16.0,3,0.062500,...,12,수입종합화장품,0.03125,0.000000,0.250000,0.0,0.000000,0.09375,0.0,0.187500
4,test_4,19,0.476190,29,4,2.333333,5.250000,10.5,6,0.047619,...,12,칼라드래디셔널,0.00000,0.000000,0.047619,0.0,0.000000,0.00000,0.0,0.190476

In [49]:
train_ft.to_csv(f"{DATA_PATH}train_common.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_common.csv",index=False)

## 대분류를 이용한 특성생성

In [44]:
train_ft = pd.read_csv(f"{DATA_PATH}train_common.csv")
test_ft = pd.read_csv(f"{DATA_PATH}test_common.csv")

In [45]:
train_tr["대분류"].unique()

array(['공산품파트', '잡화파트', '공산품', '아동_스포츠', '가정용품', '아동문화', '케주얼_구두_아동',
       '스포츠캐쥬얼', '아동', '패션잡화', '여성캐쥬얼', '생식품파트', '영어덜트캐쥬얼', '로얄부띠끄',
       '생식품', '남성정장스포츠', '명품잡화', '골프_유니캐쥬얼', '남성의류', '여성정장', '잡화',
       '여성의류파트', '영라이브', '여성캐주얼', '영플라자', '가정용품파트', '로얄부틱', '영캐릭터'],
      dtype=object)

In [50]:

agg_list = [
    ("대분류_nunique", "nunique"),
    ("주구매_대분류", lambda x: x.mode()[0]),
    ("대분류_가정용품비율", lambda x: (x.str.contains("가정용품", regex=True)).mean()),
    ("대분류_아동비율", lambda x: (x.str.contains("아동", regex=True)).mean()),
    ("대분류_영어덜트비율", lambda x: (x.str.contains("영", regex=True)).mean()),
    ("대분류_명품비율", lambda x: (x.str.contains("로얄|명품", regex=True)).mean()),
    ("대분류_생식품비율", lambda x: (x.str.contains("생식품", regex=True)).mean()),
]

tmp = train_tr.groupby("ID")["대분류"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how='left')
train_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,중분류_스포츠비율,중분류_가구비율,중분류_영패션비율,대분류_nunique,주구매_대분류,대분류_가정용품비율,대분류_아동비율,대분류_영어덜트비율,대분류_명품비율,대분류_생식품비율
0,train_0,16,0.250000,23,7,1.818182,2.857143,10.0,3,0.050000,...,0.450000,0.000000,0.000000,9,남성정장스포츠,0.200000,0.100000,0.000000,0.000000,0.050000
1,train_1,41,0.023810,16,11,2.000000,3.818182,21.0,3,0.047619,...,0.071429,0.000000,0.190476,12,영플라자,0.000000,0.023810,0.357143,0.047619,0.023810
2,train_2,102,0.210526,6,12,2.035714,9.500000,57.0,0,0.254386,...,0.122807,0.008772,0.087719,14,명품잡화,0.026316,0.157895,0.000000,0.298246,0.026316
3,train_3,191,0.189573,3,12,2.293478,17.583333,105.5,3,0.104265,...,0.066351,0.000000,0.213270,16,케주얼_구두_아동,0.033175,0.270142,0.042654,0.018957,0.018957
4,train_4,55,0.258065,11,10,2.296296,6.200000,31.0,4,0.096774,...,0.000000,0.000000,0.048387,8,명품잡화,0.000000,0.129032,0.000000,0.403226,0.112903

In [51]:
tmp = test_tr.groupby('ID')["대분류"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how='left')
test_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,중분류_스포츠비율,중분류_가구비율,중분류_영패션비율,대분류_nunique,주구매_대분류,대분류_가정용품비율,대분류_아동비율,대분류_영어덜트비율,대분류_명품비율,대분류_생식품비율
0,test_0,7,0.571429,32,4,1.400000,1.750000,7.0,1,0.142857,...,0.00000,0.0,0.000000,5,공산품,0.00000,0.285714,0.000000,0.0,0.142857
1,test_1,4,0.250000,54,3,1.333333,1.333333,2.0,0,0.500000,...,0.00000,0.0,0.000000,3,명품잡화,0.00000,0.000000,0.000000,0.5,0.000000
2,test_2,4,0.000000,8,2,2.500000,2.500000,5.0,0,0.600000,...,0.00000,0.0,0.200000,3,잡화파트,0.00000,0.400000,0.000000,0.0,0.000000
3,test_3,28,0.031250,16,7,2.000000,4.571429,16.0,3,0.062500,...,0.09375,0.0,0.187500,5,영플라자,0.03125,0.000000,0.531250,0.0,0.000000
4,test_4,19,0.476190,29,4,2.333333,5.250000,10.5,6,0.047619,...,0.00000,0.0,0.190476,6,여성캐주얼,0.00000,0.238095,0.047619,0.0,0.000000

In [53]:
train_ft.to_csv(f"{DATA_PATH}train_common.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_common.csv",index=False)

## 구매가격을 이용한 특성생성

In [4]:
train_ft = pd.read_csv(f"{DATA_PATH}train_common.csv")
test_ft = pd.read_csv(f"{DATA_PATH}test_common.csv")

In [61]:
train_tr["구매가격"].quantile(0.75)

(np.float64(119700.0), np.float64(22520.0))

- 구매가격 0 이상중 4분위수 계산

In [64]:
high = train_tr.loc[train_tr["구매가격"] > 0, "구매가격"].quantile(0.75)
low = train_tr.loc[train_tr["구매가격"] > 0, "구매가격"].quantile(0.25)

high, low

(np.float64(128000.0), np.float64(28000.0))

In [67]:
low_refund = train_tr.loc[train_tr["구매가격"] < 0, "구매가격"].quantile(0.75)
high_refund = train_tr.loc[train_tr["구매가격"] < 0, "구매가격"].quantile(0.25)

high_refund, low_refund

(np.float64(-239000.0), np.float64(-55000.0))

In [68]:
agg_list = [
    ("총구매액_환불포함", "sum"),
    ("총구매액", lambda x: x[x > 0].sum()),
    ("총구매건수", lambda x: x[x > 0].count()),
    ("평균구매금액", lambda x: x[x > 0].mean()),
    ("고액구매비율", lambda x: np.mean(x[x > 0] >= high)),
    ("저액구매비율", lambda x: np.mean(x[x > 0] <= low)),
    ("최대구매금액", lambda x: x[x > 0].max()),
    ("최소구매금액", lambda x: x[x > 0].min()),
    ("구매금액표준편차", lambda x: x[x > 0].std()),
    ("구매금액_skew", lambda x: x[x > 0].skew()),
    ("구매금액_kurtosis", lambda x: x[x > 0].kurtosis()),
    ("총환불금액", lambda x: x[x < 0].sum()),
    ("환불건수", lambda x: (x < 0).sum()),
    ("고액환불비율", lambda x: np.mean(x[x < 0] <= high_refund)),
    ("저액환불비율", lambda x: np.mean(x[x < 0] >= low_refund)),
    ("환불금액표준편차", lambda x: x[x < 0].std()),
    ("환불금액_skew", lambda x: x[x < 0].skew()),
    ("환불금액_kurtosis", lambda x: x[x < 0].kurtosis()),
    ("최소환불금액", lambda x: x[x < 0].max()),
    ("최대환불금액", lambda x: x[x < 0].min()),
]

tmp = train_tr.groupby("ID")["구매가격"].agg(agg_list).reset_index()
train_ft = train_ft.merge(tmp, how="left")
train_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,구매금액_kurtosis,총환불금액,환불건수,고액환불비율,저액환불비율,환불금액표준편차,환불금액_skew,환불금액_kurtosis,최소환불금액,최대환불금액
0,train_0,16,0.250000,23,7,1.818182,2.857143,10.0,3,0.050000,...,-0.135846,-2517000,3,0.666667,0.000000,554857.639400,1.571433,NaN,-205000.0,-1236000.0
1,train_1,41,0.023810,16,11,2.000000,3.818182,21.0,3,0.047619,...,9.771083,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,train_2,102,0.210526,6,12,2.035714,9.500000,57.0,0,0.254386,...,22.994638,-1072500,7,0.285714,0.285714,110664.604829,0.310886,-1.234108,-4500.0,-288000.0
3,train_3,191,0.189573,3,12,2.293478,17.583333,105.5,3,0.104265,...,8.128051,-2867800,14,0.214286,0.000000,194802.324715,-2.219921,5.204875,-58000.0,-768000.0
4,train_4,55,0.258065,11,10,2.296296,6.200000,31.0,4,0.096774,...,2.184527,-6954400,13,0.692308,0.076923,379184.767221,-0.381901,-1.126703,-49000.0,-1204000.0

In [69]:
tmp = test_tr.groupby('ID')["구매가격"].agg(agg_list).reset_index()
test_ft = test_ft.merge(tmp, how='left')
test_ft.head()

,ID,내점일수,주말방문비율,구매주기,거래개월수,일별평균구매건수,월별평균구매건수,연도별평균구매건수,주구매요일,월요일_구매비율,...,구매금액_kurtosis,총환불금액,환불건수,고액환불비율,저액환불비율,환불금액표준편차,환불금액_skew,환불금액_kurtosis,최소환불금액,최대환불금액
0,test_0,7,0.571429,32,4,1.400000,1.750000,7.0,1,0.142857,...,-1.103688,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,test_1,4,0.250000,54,3,1.333333,1.333333,2.0,0,0.500000,...,1.438447,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,test_2,4,0.000000,8,2,2.500000,2.500000,5.0,0,0.600000,...,4.075918,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,test_3,28,0.031250,16,7,2.000000,4.571429,16.0,3,0.062500,...,0.537120,-1092000,4,0.5,0.000000,137663.841779,0.014171,-5.642846,-140000.0,-403000.0
4,test_4,19,0.476190,29,4,2.333333,5.250000,10.5,6,0.047619,...,2.756122,-372200,3,0.0,0.333333,80015.081912,0.759841,NaN,-38000.0,-196200.0

In [70]:
train_ft.to_csv(f"{DATA_PATH}train_common.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_common.csv",index=False)

## pivot_table을 이용한 특성 생성

- 지점코드별

In [16]:
purchase_pivot = (
    test_tr[test_tr["구매가격"] > 0]
    .groupby(["ID", "지점코드"])
    .size()
    .unstack(fill_value=0)
    .add_prefix("구매지점_")
)

refund_pivot = (
    test_tr[test_tr["구매가격"] < 0]
    .groupby(["ID", "지점코드"])
    .size()
    .unstack(fill_value=0)
    .add_prefix("환불지점_")
)

- 중분류별

In [17]:
purchase_pivot_2 = (
    test_tr[test_tr["구매가격"] > 0]
    .groupby(["ID", "중분류"])
    .size()
    .unstack(fill_value=0)
    .add_prefix("중분류_")
)

refund_pivot_2 = (
    test_tr[test_tr["구매가격"] < 0]
    .groupby(["ID", "중분류"])
    .size()
    .unstack(fill_value=0)
    .add_prefix("중분류_")
)

purchase_pivot = purchase_pivot.merge(purchase_pivot_2, how="left", on="ID")
refund_pivot = refund_pivot.merge(refund_pivot_2, how="left", on="ID")

purchase_pivot

,구매지점_A112000,구매지점_A144000,구매지점_A202000,구매지점_A373000,중분류_DC캐주얼,중분류_GBR 지원,중분류_L_B침구,중분류_NB제화,중분류_NB핸드백,중분류_N_B침구,...,중분류_행사슈즈,중분류_행사핸드백,중분류_향수,중분류_헤어ACC,중분류_헤어악세사리,중분류_헤어액세사리,중분류_홈데코,중분류_화장잡화,중분류_화장품,중분류_훼미닌부틱
ID,,,,,,,,,,,,,,,,,,,,,
test_0,0,0,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
test_1,1,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
test_10,31,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
test_100,103,3,0,5,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
test_1000,0,0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
test_9995,20,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
test_9996,0,0,47,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
test_9997,0,0,0,24,0,0,0,0,0,0,...,0,0,0,0,0,2,0,0,0,0
test_9998,0,0,62,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
test_9999,39,0,0,6,0,0,0,0,0,0,...,0,0,0,0,0,0,3,0,0,0

In [18]:
purchase_pivot_3 = (
    test_tr[test_tr["구매가격"] > 0]
    .groupby(["ID", "대분류"])
    .size()
    .unstack(fill_value=0)
    .add_prefix("대분류_")
)

refund_pivot_3 = (
    test_tr[test_tr["구매가격"] < 0]
    .groupby(["ID", "대분류"])
    .size()
    .unstack(fill_value=0)
    .add_prefix("대분류_")
)

In [19]:
purchase_pivot = purchase_pivot.merge(purchase_pivot_3, how="left", on="ID")
refund_pivot = refund_pivot.merge(refund_pivot_3, how="left", on="ID")

### 최종 pivot table merge

In [20]:
# train_ft = train_ft.merge(purchase_pivot, on="ID", how="left")
# train_ft = train_ft.merge(refund_pivot, on="ID", how="left")
test_ft = test_ft.merge(purchase_pivot, how="left", on="ID")
test_ft = test_ft.merge(refund_pivot, how="left", on="ID")

In [21]:
train_ft.to_csv(f"{DATA_PATH}train_common.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_common.csv",index=False)

# 항상 확인하기
- 학습데이터와 테스트 데이터의 피처개수는 동일해야 함

In [180]:
train_ft.shape, test_ft.shape

((14940, 2232), (12225, 2232))

# 추출한 피처 저장하기

In [181]:
train_ft.to_csv(f"{DATA_PATH}train_common.csv",index=False)
test_ft.to_csv(f"{DATA_PATH}test_common.csv",index=False)